
/* Navbar styles */
#menu .navbar {
  background-color: #6a0dad; /* Dark purple background color */
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align content in the navbar */
  padding: 10px 20px; /* Add some padding for spacing */
}

#menu .navbar-brand {
  margin: 0; /* Reset margin for "DiscoverMe" */
}

#menu .navbar-nav {
  margin: 0; /* Reset margin for the navbar-nav */
}

#menu .nav-item {
  margin-left: 20px; /* Add spacing between "About" and "Sign up" */
}

/* Add this CSS to your component or a separate CSS file */

.card {
  width: 400px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-check-input:checked + .form-check-label::before {
  border: 2px solid #09ff00;
  background-color: #8cff00;
}

.form-check-input:checked + .form-check-label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;
  width: 5px;
  height: 10px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}

.btn {
  background-color: #f08502;
  color: #fffdfd;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #b35c00;
}
.btn:active{
  background-color: #a75c00;
}
.custom-navbar {
  background-color: #f08502;
}

